body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}


form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    position: fixed;
    z-index: 9999;
    top: 10px;
    left: -450px;
    transition: transform 0.8s ease-in-out;
}

form.center {
    transform: translateX(850px);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}


#employeeTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
}

#employeeTable thead tr {
    background-color: gray;
    color: white;
    text-align: left;
    font-weight: bold;
}

#employeeTable th, #employeeTable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

#employeeTable tbody tr {
    border-bottom: 1px solid #ddd;
}

#employeeTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#employeeTable tbody tr:last-of-type {
    border-bottom: 2px solid #4CAF50;
}

#employeeTable tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.popup {
    margin: 10px;
    box-shadow: 4px 4px 10px -10px rgba(0, 0, 0, 1);
    width: 300px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-radius: 4px;
    padding: 5px 0;
    font-weight: 300;
}

.popup svg {
    width: 1.25rem;
    height: 1.25rem;
}
.popup-icon svg {
    margin: 5px;
    display: flex;
    align-items: center;
}
.close-icon {
    margin-left: auto;
}
.close-svg {
    cursor: pointer;
}
.close-path {
    fill: grey;
}

.success-popup {
    background-color: #edfbd8;
    border: solid 1px #84d65a;
}
.success-icon path {
    fill: #84d65a;
}
.success-message {
    color: #2b641e;
}
